<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    {% for item in site.navigation %}
                    <li>
                        <a class="page-scroll" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                <p class="text-muted small">{{ site.credits }}</p>
            </div>
        </div>
    </div>
</footer>
