<section id="news">
<!-- Page Content -->
<hr class="intro-divider">
 
    <div class="content-section-a">
        <h2 class="section-heading">News</h2>
         
        <div class="container">
            {% for post in site.news reversed limit:2 %}
 
            <div class="row">
                <div class="col-lg-3">
                    <div class="clearfix"></div>
                    {% if post.img %}<img class="img-responsive" src="img/{{ post.img }}" alt=""> 
                    {% else %}
                    <img class="img-responsive" src="img/{{ site.newsimg }}" alt="">
                    {% endif %}
                  </div>

                <div class="col-lg-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a id="news-{{ post.date }}" class="anchor-element" aria-label="Permalink: {{ post.title }}" >
                    <h3 class="section-heading">{{ post.title }}</h3></a>
                    <p class="date"><em>Posted {{ post.date }}</em></p>
                    <div class="lead">{{ post.content }}</div>
                </div>
             </div>
 
             {% endfor %}

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</section>
