<section id="news">
<!-- Page Content -->
<hr class="intro-divider">
<h3 class="section-heading">News</h3>
{% for post in site.news  %}
  
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <div class="clearfix"></div>
                    {% if post.img %}<img class="img-responsive" src="img/{{ post.img }}" alt=""> {% endif %}
                    {% else %}
                    <img class="img-responsive" src="img/{{ site.newsimg }}" alt="">
                    {% endif %}
                  </div>

                <div class="col-lg-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a id="news-{{ post.date }}" class="anchor-element" aria-label="Permalink: {{ post.title }}" >
                    <h3 class="section-heading">{{ post.title }}</h3></a>
                    <div class="lead">{{ post.content }}</div>
                </div>
             </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
 
{% endfor %}
</section>
