<section id="information">
<!-- Page Content -->
{% for post in site.posts  %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a id="{{ post.category }}" class="anchor-element" aria-label="Permalink: {{ post.title }}" >
                    <h2 class="section-heading">{{ post.title }}</h2></a>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive" src="img/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <img class="img-responsive" src="img/{{ post.img }}" alt="">
                  </div>
                <div class="col-lg-8">
                    <a id="{{ post.category }}" class="anchor-element" aria-label="Permalink: {{ post.title }}" >
                        <h2 class="section-heading">{{ post.title }}</h2></a>
                    <div class="lead">{{ post.content }}</div>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
