<!-- Page Content -->
<section id="content">
   <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <hr class="section-heading-spacer">
                    
                    {% if page.img %}<img class="img-responsive" src="img/{{ page.img }}" alt="">{% endif %}
                  </div>
                <div class="col-lg-8">
                    <div class="lead">{{ page.content }}</div>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
