<section id="content">
<!-- Page Content -->
   <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <img class="img-responsive" src="img/{{ page.img }}" alt="">
                  </div>
                <div class="col-lg-8">
                    <div class="lead">{{ post.content }}</div>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
